*{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes drop {
  0% {
      opacity: 0.3;
      transform: translateY(-30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

:root{
  --primary-color: #303030;
  --filter-text-color: white;
  --text-color: gray;
  --bg-color: #242424;
  font-size: 14px;
}

html{
  height: 100%;
}

body{
  position: relative;
  background-color: var(--bg-color);
  height: 100%;
}

button, a{
  color: var(--filter-text-color);
  border-style: none;
  cursor: pointer;
}

button:hover{
  box-shadow: inset 0 -5px 0 white;
}

.fileMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.fileMenu > span{
  color: var(--text-color);
  font-weight: bold;
}

/* download button */
.fileMenu > a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: var(--primary-color);
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.fileMenu > input{
  width: 100%;
  margin-bottom: 10px;
  padding: 2px 4px;
  box-sizing: border-box;
  border-style: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  line-height: 1.4rem;
}

.fileMenu input::selection,
.fileMenu input::-moz-selection{
  background-color: var(--text-color);
  color: var(--primary-color);
}

.filterList > button{
  height: 30px;
  width: 100%;
  margin-bottom: 5px;
  transition: all 0.1s ease-out;
  overflow: hidden;
}

.filterList > button:first-of-type{
  background-color: var(--primary-color);
}

.filterList{
  overflow-x: hidden;
  overflow-y: auto;
}

.leftSidebar{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  width: 90%;
  max-width: 200px;
  background-color: var(--bg-color);
}

.leftSidebar > div{
  padding: 10px;
}

/* stack */
.rightSidebar{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  height: 100%;
  width: auto;
  overflow-y: hidden;
  background-color: var(--bg-color);
  scrollbar-color: var(--primary-color);
}

/* filter layer */
.rightSidebar > div{
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 5px;
  cursor: pointer;
  animation: drop 0.2s cubic-bezier(.1,.92,.79,1.32);
}

/* cross */
.rightSidebar > div > a{
  color: black;
  opacity: 0;
  transform: scale(0.8);
}

.rightSidebar > div:hover > a{
  opacity: 0.5;
}

.modal{
  position: fixed;
  top: 0;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  box-sizing: border-box;

  color: white;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  transition: all 1s linear;
}

.invisible{
  opacity: 0;
}

.mainContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto 0;
  overflow: hidden;
}

.workspace{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}