*{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes drop {
  0% {
      opacity: 0.3;
      transform: translateX(30px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

:root{
  --primary-color: #303030;
  --light-text-color: white;
  --text-color: gray;
  --bg-color: #242424;
  --layer-label-size: 20px;
  font-size: 14px;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  background-color: var(--bg-color);
  height: 100%;
}

button, a{
  color: var(--light-text-color);
  border-style: none;
  cursor: pointer;
}

button:hover{
  box-shadow: inset 0 -5px 0 white;
}

.fileMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.fileMenu > span{
  color: var(--text-color);
  font-weight: bold;
}

/* download button */
.fileMenu > a{
  height: 50px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: var(--primary-color);
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.fileMenu > input{
  width: 100%;

  padding: 2px 4px;
  margin-bottom: 10px;
  
  border-style: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  line-height: 1.4rem;
}

.fileMenu input::selection,
.fileMenu input::-moz-selection{
  background-color: var(--text-color);
  color: var(--primary-color);
}

.filterList > button{
  height: 30px;
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;
  transition: all 0.1s ease-out;
}

.filterList > button:first-of-type{
  background-color: var(--primary-color);
}

.filterList{
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.leftSidebar{
  height: 100%;
  width: 90%;
  max-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  
  background-color: var(--bg-color);
}

/* logo, filters list, file menu */
.leftSidebar > div{
  padding: 10px;
}

.leftSidebar > div:first-of-type{
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: bold;
  color: var(--light-text-color);
}

.leftSidebar > div:first-of-type > span{
  font-variant-caps: all-petite-caps;
}

/* stack */
.layersPanelWrapper > div{
  height: var(--layer-label-size);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  
  background-color: var(--bg-color);
}

.layersPanelWrapper{
  width: 100%;

  flex-shrink: 0;
  margin-top: 10px;

  overflow-y: hidden;
  overflow-x: auto;
}

/* filter layer */
.layersPanelWrapper > div > div{
  max-width: var(--layer-label-size);
  max-height: var(--layer-label-size);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 5px;

  border-radius: 50%;
  cursor: pointer;
  animation: drop 0.2s cubic-bezier(.1,.92,.79,1.32);
}

/* cross */
.layersPanelWrapper > div > div > a{
  color: black;
  opacity: 0;
  transform: scale(0.8);
}

.layersPanelWrapper > div > div:hover > a{
  opacity: 0.5;
}

.info{
  position: fixed;
  z-index: 3;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 30px;

  color: white;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  transition: all 1s linear;
}

.invisible{
  opacity: 0;
}

.mainContainer{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: auto 0;
  overflow: hidden;
}

.workspace{
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 10px 10px 10px 0;
  overflow: hidden;
}

.workspace > canvas{
  max-width: 100%;
  min-height: 0;
  margin: auto 0;
}